<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737009729582-klv0jenn2o5ll2m7habpt3oa05k8urb4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737009729582-klv0jenn2o5ll2m7habpt3oa05k8urb4</string>
	<key>API_KEY</key>
	<string>AIzaSyCFhXLxQYMjW2VyZpglB30CsvfBpeu6GSk</string>
	<key>GCM_SENDER_ID</key>
	<string>737009729582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jake.ExFirestore</string>
	<key>PROJECT_ID</key>
	<string>sample-9ca7b</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-9ca7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737009729582:ios:7569decd12e5943ec55fbf</string>
</dict>
</plist>